.bases{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
}

.base-title{
  font-size: 1.3em;
}

.admin-title{
  display: inline-block;
}

.parts{
  margin-bottom: 20px;
}

.base-item{
  text-align: center;
  margin-top: 20px;
}

.base-image{
  width: 250px;
  height: 200px;
  object-fit: scale-down;
}

.button{
  border-radius: 5px;
  margin-left: 10px;
  display: inline-block;
  border: none;
  font-size: 15px;
  background-color: transparent;
  padding: 5px 20px;
  color: white;
  border: 1px solid white;
  transition: all .2s ease-in-out;
}

.button:hover,
.button:focus{
  text-decoration: none;
  color: black;
  background-color: lightblue;
  border: 1px solid lightblue;
}
