.new-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.button{
  color: black;
  border: none;
  font-size: 15px;
  background-color: lightblue;
  padding: 5px 20px;
  margin-bottom: 20px;
}

.submit-button{
  float: right;
  border: none;
  font-size: 15px;
  background-color: #dbdbdb;
  border-radius: 5px;
  padding: 5px 20px;
  color: black;
  transition: all .3s ease-in-out;
}

.submit-button:hover{
  background-color: #e3d105;
}

.name{
  text-align: center;
  width: 200px;
  margin-left: 23px;
  font-size: 1rem;
}

.base-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.base-item{
  margin-bottom: 20px;
}

.error{
  color: #ff6363;
}

.radio{
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-label{
  border: 4px solid #212020;
  border-radius: 5px;
}
